.content-wrapper-center {
  max-width: 67.25rem;
  margin: auto;
  padding: 3rem 1rem 2rem;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100dvh;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header img {
  max-width: 150px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.25));
}
.header ul {
  display: none;
}
