@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --roxo: #7C78D7;
}
html {
  font-size: 62.5%;
}
body {
    font-family: "Inter", sans-serif;
    min-height: 100dvh;
}
button{
    background-color: var(--roxo);
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 27px;
    cursor: pointer;
    font-size: 1.4rem;
}
img{
    width: 100%;
}
.content-wrapper-center {
  max-width: 67.25rem;
  margin: auto;
  padding: 3rem 1rem 2rem;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header i{
    font-size: 1.8rem;
}
.header img {
  max-width: 150px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.25));
}
.header ul {
  display: none;
}
.main{
    margin-top: 7.7rem;
}
.main_content{
    text-align: center;
    margin-bottom: 4.9rem;
}
.main_content h3{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}
.main_content p{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 24px 0;
}
